@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #012458;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #012458;
}

.wrapper {
  margin: 25px auto;
  width: 1300px;
  background-color: rgba(236, 236, 236, 0.411);
}

.header {
  position: -webkit-sticky;
  position: sticky;
  padding: 1px;
  background-color: #e3ecff;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.avatar__img {
  height: 300px;
  width: 300px;
  border: 15px solid #e3ecff;
  border-radius: 50%;
}

.avatar__name {
  font-weight: 700;
  margin-bottom: 14px;
}

.avatar__job {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.main {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .left-column {
  width: 40%;
}

.main .left-column .contacts__header {
  text-align: center;
  text-transform: uppercase;
}

.main .left-column .contacts__list li:not(:last-child) {
  margin-bottom: 5px;
}

.main .left-column .contacts__list-element {
  padding: 0px 90px;
}

.right-column {
  width: 60%;
}
